public/common.xsd

<?xml version="1.0" encoding="utf-16" ?>
<!-- Created with Liquid Studio (http://www.liquid-technologies.com) -->
<xs:schema targetNamespace="http://www.InsuranceCommon.org/"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
           xmlns:Carrier="http://www.carrier.com/"
           elementFormDefault="qualified"
           >
    <xs:element name="BopPolicyResponse">

      <xs:complexType>
        <xs:sequence>
          <xs:element name="policyNumber" type="xs:string" />
          <xs:element name="deductible" type="xs:string" />
          <xs:element name="limit" type="xs:string" />
          <xs:element name="sic" type="xs:string" />
          <xs:element name="bound" type="xs:string" />
          <xs:any minOccurs = "0" processContents="lax"/>
        </xs:sequence>

       </xs:complexType>
       
  </xs:element>
</xs:schema>